
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
 
}

html,
body {
 
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  
}

a{
  
  color:#000;
}

.btn.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: left;
  margin-bottom: 15px;
}
.mt-5{
  margin-top:15px;
}

.mb-5{
  margin-bottom:15px;
}

.pt-50{
  padding-top:50px;
}

.p-10{
  padding:10px;
}

.active {
  background-color:#ff6900 !important;
  color:#fff !important;
}


header {
  background: #000;
  border-bottom: 1px solid #fff;
}

.admin-wrapper {
  display: flex;
  height: calc(100% - 66px);
}

.admin-wrapper .left-sidebar {
  flex: 2;
  height: 100%;
  background: #000;
}

.admin-wrapper .left-sidebar ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  color: aliceblue;
}

.admin-wrapper .left-sidebar ul li a {
  padding: 18px;
  display: block;
  border-bottom: 1px solid #fff;
}

.admin-wrapper .left-sidebar ul li a:hover {
  background: #ff6900;
 
}

.admin-wrapper .admin-content {
  flex: 8;
  height: 100%;
  padding: 40px 100px 100px;
  overflow-y: scroll;
}
.admin-content .page-title {
  text-align: center;
  margin-bottom: 1.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.1rem;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #d3d3d3;
}

.edit {
  color: green;
}

.delete {
  color: red;
}

.publish {
  color: blue;
}

.edit:hover,
.delete:hover,
.publish:hover {
  text-decoration: underline;
}

form div {
  margin-bottom: 15px;
}

.left-sidebar input[type=text] {
  padding: 11px;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 10px;
  width: 100%;
  border: none;
  font-size: 17px;
}

.left-sidebar input[type=submit] {
  padding: 12px;
  width: 45%;
  margin-right: 10px;
  border: 1px solid #ff6900;
  background: #ff6900;
  color:#fff;
}

/* .center {
  display: flex;
  justify-content: center;
  align-items: center;
} */


@media screen and (max-width: 900px){
  .admin-wrapper {
    display: block;
    height: auto;
}

.admin-wrapper .admin-content {
  flex: 8;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
  
}
.admin-content .page-title {
  text-align: left;
  margin-bottom: 1.5rem;
}

/* .text-center.mt-5{
  text-align: left;
} */

}
/* header */
#top .ml-300{
  margin-left:330px;
}

#top .ml-450{
  margin-left:400px;
}


#top .wishlist{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}


#top .navigation{
  background: #171c24;
  position:relative;
  width: 100%;
}
#top .navigation nav{
  position: relative;
/*   display: flex; */
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
#top nav .content-header{
  display: flex;
  align-items: center;
}
#top nav .content-header .links{
  margin-left: 80px;
  display: flex;
  width:100%;
  justify-content: space-between;
}

#top nav .content-header .links .page-list{
 
  display: flex;
  
}

#top nav .content-header .links .account-list{
 
  display: flex;
  
}

#top .content-header .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
#top .content-header .links li{
  list-style: none;
  line-height: 70px;
}
#top .content-header .links li a,
#top .content-header .links li label{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
#top .content-header .links li label{
  display: none;
}
#top .content-header .links li a:hover,
#top .content-header .links li label:hover{
  background: #ff6900;
  color:#000;
  margin:10px;
}

#top .content-header .links  li.account a:hover {
  background-color: #000;
  color:#ff6900;
  text-decoration: underline;
}

#top .navigation .search-icon,
#top .navigation .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
#top .navigation .menu-icon{
  display: none;
}
#top .navigation #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}
#top .navigation .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
#top .navigation #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
#top .search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}
#top .search-box input::placeholder{
  color: #f2f2f2;
}
#top .search-box .search-button{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
#top .navigation input[type="checkbox"]{
  display: none;
}

#top .content-header .links ul{
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}
#top .content-header .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
#top .content-header .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
#top .content-header .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
#top .content-header .links ul li{
  position: relative;
}
#top .content-header .links ul li:hover ul{
  top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px){
  #top .navigation nav{
    max-width: 100%;
    padding: 0 20px;
  }
  #top nav .content-header .links{
    margin-left: 30px;
  }
  #top .content-header .links li a{
    padding: 8px 13px;
  }
  #top .navigation .search-box{
    max-width: calc(100% - 100px);
  }
  #top .navigation .search-box input{
    padding: 0 100px 0 15px;
  }
}

/* Responsive */
@media screen and (max-width: 900px){
  #top .navigation .menu-icon{
    display: block;
  }
  #top nav .content-header .links .page-list{
 
    display:block;
    
  }
  #top .navigation nav{
   display: flex;
}
  #top nav .content-header .links .account-list{
   
    display: block;
    
  }

  #top .navigation #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  #top nav .content-header .links{
    display: block;
    position: fixed;
    z-index: 100;
    background: #000;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  #top nav #show-menu:checked ~ .content-header .links{
    left: 0%;
  }
  #top .content-header .links li{
    margin: 15px 20px;
  }
  #top .content-header .links li a,
  #top .content-header .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  #top .content-header .links li a.header-link{
    display: none;
  }
  /* dropdown responsive code start */
  #top .content-header .links ul,
  #top .content-header .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  #top .content-header .links #show-product:checked ~ ul,
  #top .content-header .links #show-category:checked ~ ul,
  #top .content-header .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  #top .content-header .links ul li{
    margin: 7px 20px;
  }
  #top .content-header .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

/* Responsive */
@media screen and (max-width: 400px){
  #top .navigation nav{
    padding: 0 10px;
  }
  #top .content-header .logo a{
    font-size: 27px;
  }
  #top .navigation .search-box{
    max-width: calc(100% - 70px);
  }
  #top .navigation .search-box .search-button{
    width: 30px;
    right: 0;
  }
  #top .navigation .search-box input{
    padding-right: 30px;
  }
}



/* footer */
#bottom .content-footer li a{
 
  color:#fff;
}

#bottom .content-footer li a:hover{
 
  color:#ff6900;
}
#bottom footer{
  color:#fff;
  /* position: fixed; */
  bottom: 0px;
  width: 100%;
  background: #000;
}
#bottom .main-content-footer{
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
}

#bottom .main-content-footer .center.box{
  flex-basis: 20%;
  padding-top:30px;
  padding-bottom:30px;
}

#bottom .main-content-footer .left.box{
  flex-basis: 30%;
  padding-top:30px;
  margin-right:40px;
  padding-bottom:30px;
}

#bottom .main-content-footer .right.box{
  flex-basis: 30%;
  padding-top:30px;
  padding-bottom:30px;
}
#bottom .box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
#bottom .box .content-footer{
  margin: 20px 0 0 0;
  position: relative;
}
#bottom .box .content-footer:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
#bottom .box .content-footer:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background:#ff6900;
  top: -10px;
}
#bottom .left .content-footer p{
  text-align: justify;
}

#bottom .center .content-footer .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
#bottom .center .content-footer .fas:hover{
  background: #ff6900;
}
#bottom .center .content-footer .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
#bottom .center .content-footer .phone{
  margin: 15px 0;
}
#bottom .right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #fff;
  
}
#bottom .right form .msg{
  margin-top: 10px;
}
#bottom .right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  color:#fff;
  border: 1px solid #fff;
}
#bottom .right form input:focus,
#bottom .right form textarea:focus{
  outline-color: #3498db;
}
#bottom .right form input{
  height: 35px;
}
#bottom .right form .btn{
  margin-top: 10px;
}
#bottom .right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #ff6900;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
#bottom .right form .btn button:hover{
  background: red;
}
#bottom .bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
#bottom .bottom center span{
  color: #fff;
}
#bottom .bottom center a{
  color: #ff6900;
  text-decoration: none;
}
#bottom .bottom center a:hover{
  text-decoration: underline;
}

#bottom .session01{
  text-align: center;
  display: block;
}

/* Responsive */
@media screen and (max-width: 900px) {
  #bottom footer{
    position: relative;
    bottom: 0px;
  }
  #bottom .main-content-footer{
    flex-wrap: wrap;
    flex-direction: column;
  }
  #bottom .main-content-footer .box{
    margin: 5px 0;
  }

  #bottom .main-content-footer {
    display: flex;
    max-width:none;
    padding:20px;
}

}
#text{
  height: 25px;
  border-radius: 5px;
  padding: 4px;
  border: solid thin #aaa;
  width: 100%;
}

/* login */

 #login #button{
  padding: 10px;
  width: 100px;
  color: white;
  background-color: #ff6900;
  border: lightblue;
  
}

#login #button:hover{
  text-decoration: underline;
  font-weight: bold;
}
#login #box{
  background-color: #000000;
  margin: auto;
  width: 28%;
  padding: 20px;
  border-radius: 22px;
  margin-top: 3%;
  margin-bottom: 3%;
}

#login .login-title{
   margin: 10px;
   color: white;
   text-align: center
}

#login #label{
  color: #f2f2f2;
}
#login .link{
  color: #f2f2f2;
  
}

#login .center{
  display: flex;
  justify-content: center;
  align-items: center;
}



#login .link{
  
    display: flex;
    justify-content: center;
    align-items: center;
  
}

#login .link:hover{
  color: #ff6900;
  text-decoration: underline;
  font-weight: bold;

  
}

/* Responsive */
@media screen and (max-width: 900px) {
  #login #box{
   width:80%;
 }

}


/*register page*/

 #register #button{
  padding: 10px;
  width: 100px;
  color: white;
  background-color: #ff6900;
  border: lightblue;
  
}

#register #button:hover{
  text-decoration: underline;
  font-weight: bold;
}
#register #box{
  background-color: #000000;
  margin: auto;
  width: 28%;
  padding: 20px;
  border-radius: 22px;
  margin-top: 3%;
  margin-bottom: 3%;
}

#register .login-title{
   margin: 10px;
   color: white;
   text-align: center
}

#register #label{
  color: #f2f2f2;
}
#register .link{
  color: #f2f2f2;
  
}

#register .link:hover{
  color: #ff6900;
  text-decoration: underline;
  font-weight: bold;

  
}

#register .center{
  display: flex;
  justify-content: center;
  align-items: center;
}

#register .link{
  
    display: flex;
    justify-content: center;
    align-items: center;
  
}

/* Responsive */
@media screen and (max-width: 900px) {
  #register #box{
   width:80%;
 }

}

/* home */
#home .mySlides {display: none;}

#home .myQR {display: none;}


#home .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#home .show {
  background-color: #717171;
}

/* Fading animation */
#home .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


#home .home-description {
  text-align: center;
  padding: 20px 0;
}


#home .widget-title {
  padding: 10px 0;
  border-bottom: 1px solid #E1E8EE;
}

#home .widget-content ul li {
  list-style-type: none;
  padding: 8px 0;
  font-size: 16px;
  color: #000;
}

#home .widget-content ul li a:hover{
  
  color: #ff6900 !important;
  
}


#home .container {
  max-width: 1300px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

#home .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

#home .card {
  margin: 5px 5px;
  background: white;
  transition: 0.4s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  flex: 0 0 23%;
  max-width: 23%;
}

#home .card:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#home .card .img {
  height: 100%;
  width: 100%;
  text-align: center;
}

#home .card .img img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

#home .card .top-text {
  padding: 5px;
  text-align: center;
}

#home .card .top-text .name {
  font-size: 14px;
  font-weight: 600;
  color: #202020;
}

#home .card .top-text p {
  font-size: 16px;
  font-weight: 600;
  color: #ff6900;
  line-height: 20px;
}

#home .card .bottom-text {
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  background: white;
  /* opacity: 0; */
  /* visibility: hidden; */
  transition: 0.1s;
}

#home .card:hover .bottom-text {
  opacity: 1;
  /* visibility: visible; */
}

#home .card .bottom-text .text {
  text-align: justify;
}

#home .card .bottom-text .btn {
  margin: 10px 0;
  text-align: left;
}

#home .card .bottom-text .btn a {
  text-decoration: none;
  background: #ff6900;
  color: #f2f2f2;
  padding: 5px 8px;
  border-radius: 3px;
  display: inline-flex;
  transition: 0.2s;
}

#home .card .bottom-text .btn a:hover {
  transform: scale(0.9);
}


#home img{
  width: 450px;
}


/* Responsive */
@media screen and (max-width: 978px) {
  

  #home .card {
      max-width: 700px;
      margin: 20px 0;
      flex: 0 0 100%;
  }

  #home .right-column {
      width: 100%;
      position: relative;
  }

  #home img{
    width: 100%;
  }
  
}


/* product-details */

#product-details .container {
  max-width: 1300px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  padding-bottom: 120px;
}


#product-details .container.description {
  max-width: 1300px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  padding-bottom: 0;
}
#product-details .container.description, #product-details .container.review {
  display: block !important;
  
}

#product-details .container.description p, #product-details .container.review p{
  white-space: pre-line;
  line-height: 26pt;
  border-bottom: 1px solid #E1E8EE;
}

#product-details .container.description h2, #product-details .container.review h2{
  border-bottom: 1px solid #E1E8EE;
  padding-bottom: 10px;
  padding-top: 10px;
}

#product-details input[type=submit] {
  background-color: #ff6900;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


#product-details .left-column {
  width: 50%;
  margin-top: 60px;
  position: relative;

}

#product-details .right-column {
  width: 50%;
  padding-left: 100px;
  margin-top: 60px;
}


#product-details .left-column img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
}

#product-details .mySlides {
  display: none;
}


#product-details .product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

#product-details .product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

#product-details .product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}

#product-details .product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}


#product-details .product-color span,
#product-details .cable-config span {
  font-size: 14px;
  font-weight: 400;
  color: #86939E;
  margin-bottom: 20px;
  display: inline-block;
}


#product-details .product-color {
  margin-bottom: 30px;
}

#product-details .color-choose div {
  display: inline-block;
}

#product-details .color-choose input[type="radio"] {
  display: none;
}

#product-details .color-choose input[type="radio"]+label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

#product-details .color-choose input[type="radio"]+label span {
  border: 2px solid #000;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}


#product-details .color-choose input[type="radio"]:checked+label span {
  background-image: url(../upload/check-icn.png);
  background-repeat: no-repeat;
  background-position: center;
}


#product-details .cable-choose {
  margin-bottom: 20px;
}

#product-details .cable-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}

#product-details .cable-choose button:hover,
#product-details .cable-choose button:active,
#product-details .cable-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}

#product-details .cable-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

#product-details .product-price {
  display: flex;
  align-items: center;
}

#product-details .product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

#product-details .cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}

#product-details .cart-btn:hover {
  background-color: #64af3d;
}

/* Responsive */
@media (max-width: 940px) {
  #product-details .container {
      flex-direction: column;
      margin-top: 25px;
      margin-bottom:25px;
  }

  #product-details .left-column,
  #product-details .right-column {
      width: 100%;
  }

  #product-details .left-column img {
      width: 300px;
      right: 0;
      top: -65px;
      left: initial;
  }
}
/* Responsive */
@media (max-width: 535px) {

  #product-details .container {
    padding-bottom:0;
  }

  #product-details .left-column img {
      width: 100%;
      top: -85px;
  }

  #product-details .right-column {
    padding-left:0;
    padding-top:200px;
  }
} 



/* product page */

#product-page .container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 15px;
  display: flex;

}

#product-page .categories-description {
  text-align: center;
  padding: 20px 0;
}


#product-page .left-column {
  width: 15%;
  position: relative;
}

#product-page .widget-title {
  padding: 10px 0;
  border-bottom: 1px solid #E1E8EE;
}

#product-page .widget-content ul li {
  list-style-type: none;
  padding: 8px 0;
  font-size: 16px;
  color: #000;
}

#product-page .widget-content ul li a:hover{
  
  color: #ff6900 !important;
}

#product-page .right-column {
  width: 90%;
  position: relative;
}

#product-page .card {
  margin: 5px 5px;
  background: white;
  transition: 0.4s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  flex: 0 0 23%;
  max-width: 23%;
}

#product-page .card:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#product-page .card .img {
  height: 100%;
  width: 100%;
  text-align: center;
}

#product-page .card .img img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

#product-page .card .top-text {
  padding: 5px;
  text-align: center;
}

#product-page .card .top-text .name {
  font-size: 14px;
  font-weight: 600;
  color: #202020;
}

#product-page .card .top-text p {
  font-size: 16px;
  font-weight: 600;
  color: #ff6900;
  line-height: 20px;
}

#product-page .card .bottom-text {
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  background: white;
  transition: 0.1s;
}

#product-page .card:hover .bottom-text {
  opacity: 1;
}

#product-page .card .bottom-text .text {
  text-align: justify;
}

#product-page .card .bottom-text .btn {
  margin: 10px 0;
  text-align: left;
}

#product-page .card .bottom-text .btn a {
  text-decoration: none;
  background: #ff6900;
  color: #f2f2f2;
  padding: 5px 8px;
  border-radius: 3px;
  display: inline-flex;
  transition: 0.2s;
}

#product-page .card .bottom-text .btn a:hover {
  transform: scale(0.9);
}

#product-page .pagination {
  display: inline-block;
}

#product-page .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  border: 1px solid #E1E8EE;
  text-decoration: none;
}

#product-page .pagination a:hover {
  color: #000;
  background-color:#ff6900 ;
}

#product-page .pagination a.show {
  background-color: #ff6900;
  color: white;
}

#product-page img{
  width: 450px;
}


/* Responsive */
@media screen and (max-width: 978px) {
  #product-page .container {
      flex-wrap: wrap;
      flex-direction: column;
  }

  #product-page .card {
      max-width: 700px;
      margin: 20px 0;
      flex: 0 0 100%;
  }

  #product-page .left-column {
      width: 100%;
      position: relative;
  }

  #product-page .right-column {
      width: 100%;
      position: relative;
  }

  #product-page img{
    width: 100%;
  }
  
}



/* about us page */
#aboutus .col-2 {
  flex-basis: 50%;
  min-width: 300px;
  font-size: large;
  
}
#aboutus .col-2.content {
  text-align: justify;
    white-space: pre-line;
    padding-right: 100px;
}

#aboutus .col-2.content h2{
  text-align: center;
}

#aboutus .col-2 img{
  max-width: 70%;
  padding: 150px 0;
  padding-left: 20%;
}

@media screen and (max-width: 978px){
  #aboutus .col-2 img{
  max-width: 100%;
  padding: 15px;
  padding-left: 0;
  }

  #aboutus .col-2.content {
    padding-left:0px;
    padding:15px;
  }

}

/* contact us */
#contact .container {
  max-width: 1300px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}
#contact .error{
    font-weight:700;
    font-size:14px;
    color:red;
    display:none;
}
#contact input[type=text], select, textarea,input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 5px;
  resize: vertical;
  font-size: 16px;
}

#contact input[type=submit] {
  background-color: #ff6900;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#contact input[type=submit]:hover {
  background-color: #ff6900;
  color:#000;
  font-weight: bold;
}


#contact label{
  font-weight: bold;
}

#contact .box{
  
    margin: auto;
    width: 50%;
    padding: 20px;
    border-radius: 22px;
    margin-top: 3%;
    border: 2px solid #E1E8EE;
}

#contact .center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 978px){
  #contact .box{
    width: 100%;
  }
}
